[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stable-baselines3 = "*"
tensorflow = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
moviepy = "*"
gym = "*"
gymnasium = {extras = ["box2d"] }
joblib = "*"

[dev-packages]

[requires]
python_version = "3.11.8"
